:root {
  --grey-primary-color: #ebebeb;
  --grey-secondary-color: #f7f7f7;
  --blue-color: #1d9dd9;
  --hover-color: rgb(255, 106, 0);
  --gold-color: #d6c08d;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}

.bg-grey {
  background: var(--grey-secondary-color);
}
.section-title {
  margin-bottom: 30px;
}
.text-grey {
  color: grey;
  line-height: 1.5;
}
section > .container {
  max-width: 992px;
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

/* BANNER */
#banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  object-fit: cover;
  background-position: center;
  height: 60vh;
}
#banner img {
  width: 100%;
}
#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 89, 89, 0.8);
  z-index: 1;
}
#banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  width: 100%;
}
#banner-text p {
  color: var(--grey-primary-color);
}

/* NAVIGATION */
#nav-bar {
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
nav > a {
  display: inline-block;
  border-left: solid 2px var(--grey-secondary-color);
  text-transform: uppercase;
  color: black;
  padding: 10px 20px;
  height: 75px;
}
nav > a:last-child {
  border-right: solid 2px var(--grey-secondary-color);
}
nav > a:hover {
  color: var(--hover-color);
  background-color: var(--grey-secondary-color);
}
/* Để căn giữa text theo chiều dọc khi tăng height của nav */
nav > a:not(#nav-middle)::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
nav > a i {
  color: var(--blue-color);
}
/* Basic: Hiện text họ tên ở giữa nav bav */
/* #nav-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav-middle h2 {
  text-transform: capitalize;
}
#nav-middle span {
  text-transform: capitalize;
  font-size: small;
  color: grey;
}
#nav-middle:hover h2 {
  font-weight: 600;
} */
/* Nâng cao: Hiện ảnh ở giữa nav bar */
#nav-middle {
  position: relative;
  width: 20rem;
}
#nav-middle img {
  position: absolute;
  border: solid 5px white;
  border-radius: 50%;
  width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* ---ABOUT SECTION--- */
#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#about > div {
  padding: 70px 60px 40px 50px;
}
/* Personal Info */
#personal-info {
  background-color: var(--grey-primary-color);
  display: flex;
  flex-direction: column;
}
#personal-info ul {
  margin-bottom: 20px;
  padding-left: 0;
}
#personal-info li {
  list-style-type: none;
  line-height: 1.75;
}
#personal-info span {
  color: black;
}
#social-accs a {
  color: var(--blue-color);
}

/* ---JOB INFO SECTION--- */
#job-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  gap: 20px;
  max-width: 65%;
  margin: 10% auto;
}
#job-info > div {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 8rem auto;
  border: 1px solid var(--grey-primary-color);
}
.job-head {
  margin: 40px 0 40px 30px;
}
.job-btn {
  display: block;
  border: none;
  background-color: rgb(246, 246, 168);
  color: grey;
  margin-top: 10px;
  padding: 6px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: 600;
}
#job-info .job-icon {
  color: grey;
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0;
}
.job-content {
  grid-column: 1/-1;
  padding-bottom: 3rem;
}
/* Dòng 1 - Các nội dung theo timeline */
.timeline-content {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 30px 0 50px;
}
.timeline-content li {
  padding-left: 10px;
}
.timeline-content li::marker {
  color: var(--blue-color);
  display: inline-block;
  font-size: 30px;
  line-height: 0;
}
/* Kinh nghiệm - Học vấn - Hoạt động */
.time-text {
  font-size: 13px;
}
.current {
  display: inline-block;
  padding: 0 10px;
  background-color: var(--blue-color);
  color: white;
  border-radius: 6px;
}
/* Dòng 2 - Các nội dung không theo timeline */
/* Sở thích */
.hobby {
  display: flex;
  padding: 0 1rem;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.hobby-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 5px auto;
}
.hobby-item p {
  text-align: center;
  font-size: 13px;
}
.hobby-item .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--blue-color);
  text-align: center;
  font-size: 1.5rem;
  color: var(--blue-color);
}
/* Ngôn ngữ - Kĩ năng  */
.level-content {
  list-style-type: none;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}
.level-content li {
  margin-bottom: 20px;
}
.level-bar {
  display: inline-block;
  height: 2px;
  width: 45px;
  margin-right: 10px;
}
.blue-bar {
  background: var(--blue-color);
}
.grey-bar {
  background: var(--grey-primary-color);
}

/* ---CERTIFICATE SECTION--- */
.cert-content-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cert-content-container .cert-row:last-child {
  border-bottom: 0;
}
.cert-row {
  display: flex;
  border-bottom: solid 1px var(--gold-color);
  padding-bottom: 40px;
}
.cert-card:first-child {
  border-left: 0;
  padding-left: 0;
}
.cert-card:last-child {
  padding-right: 0;
}
.cert-card {
  display: flex;
  gap: 20px;
  width: 50%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid 1px var(--gold-color);
}
.cert-card img {
  width: 50%;
  object-fit: contain;
}
.cert-detail p {
  text-transform: uppercase;
  font-size: 15px;
}
.cert-detail span {
  font-size: small;
  display: inline-block;
  margin-top: 10px;
}

/* ---PROJECT SECTION--- */
.project-content-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  flex-direction: column;
  width: 31%;
  justify-content: flex-start;
  font-size: 14px;
}

.project-card img {
  width: 100%;
  height: 14rem;
}
.project-card > div {
  border: solid 1px var(--grey-primary-color);
  border-bottom: 0;
}
.project-head {
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: 500;
}
/* để ghi đề boder-bottom đậm hơn */
#project .project-sub {
  display: flex;
  gap: 10px;
  height: 20%;
  padding: 8px 20px;
  border-bottom: solid 1px var(--grey-primary-color);
}
.year-blue {
  font-size: 12px;
  background-color: var(--blue-color);
  border-radius: 12px;
  color: white;
  text-align: center;
  padding: 3px 10px;
}
.year-blue::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.org-n-role {
  display: flex;
}
table {
  border-collapse: collapse;
}
tr {
  border: solid 1px var(--grey-primary-color);
}
td {
  padding: 10px;
}

/* ---FOOTER SECTION--- */
#footer .container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: grey;
  padding-bottom: 60px;
}
#footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer i {
  font-size: 2rem;
  color: var(--blue-color);
}
#footer a:hover {
  color: var(--hover-color);
}

/* ---ASM3--- */
.hidden {
  display: none;
}

.bg-light-blue {
  background-color: var(--blue-color);
}

.btn:hover {
  background-color: var(--hover-color);
}
.circle {
  width: fit-content;
}
